version: 2.1
jobs:
# Builing the project is going to start
  build:
    # working_directory: ~/repo
    machine:
      image: ubuntu-2004:202010-01
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: Installing AWS CLI
          command: |
            sudo apt-get update
            sudo apt install python3-pip
            sudo pip3 install awsebcli --upgrade
      - run: cd ./app && npm install && npm run build
      - persist_to_workspace:
          root: .
          paths:
            - .
      

# Deploying the code to AWS S3 Bucket
  deploy: 
    # working_directory: ~/repo
    machine:
      image: ubuntu-2004:202010-01
      docker_layer_caching: true
    steps:
      - attach_workspace:
          at: .
      - checkout
      - run: 
          name: Configuring AWS
          command: |
            ls
            if [ $CIRCLE_BRANCH = 'master' ]; then
              aws s3 sync ./app/build s3://${AWS_S3_BUCKET}
            fi


workflows:
  version: 2
  execute_bulk:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - master